@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat&display=swap');
/*
font-family: 'Lobster', cursive;
font-family: 'Montserrat', sans-serif;
*/

/*general*/
*{
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
    color: #3A4149;
}

/*for image background*/

body, html {
  height: 100%;
}

.bg-image{
    background-image: url(/assets/Images/pexels-maureen-bekker-1207978.jpg);  /*unsure about image - might change!*/
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.inner-container {
    margin-left: 30px;
    margin-right: 30px;
    
}

/* Nav bar*/

.nav-container{
    margin: 30px;
    background-color: rgb(166, 172, 194, 0.8); /*unsure about color - might change along with image!*/
    border-color:rgb(98, 180, 142) ;
    font-family: 'Lobster', cursive;
    font-weight: 900;
    color: #3A4149;
}

.nav-container .navbar-brand{
    font-size: 40px;
}

.nav-container .nav-link{
    font-size: 20px;
    float: right;
}

.navbar-brand, .navbar-nav{
    line-height: 48px;
}

/* accordion */

.accordion>.card {
    background-color: rgb(166, 172, 194, 0.8);
    color: inherit;
}

.card-header{

}
.card-body{
    background-color: rgb(170, 190, 197, 0.2);
}

.accordion>.card .btn-link{
    color: #3A4149;
    font-weight: 900;
}